{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'story8.css' %}">

    <title>Daftar Buku</title>
</head>
<body>
{% load static %}

<div class="container">
  <h3 class="BookFinder">Book Finder</h3>
</div>
<br>
<br>
<center>
<input id="keyword" class="form-control book" placeholder="cari bukumu..">
</center>
<div class="wrapper">
	<br>
<table class="table">
  <tbody class="content">
  </tbody>
</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'book.js' %}"></script>
</body>
</html>

