html {
  margin: 0;
  font-family: Georgia, 'Times New Roman';
  scroll-behavior: smooth;
}

body {
	background-color: #f8f8f8;
    margin: 0px;
    padding-bottom: 20px;
    
}



.container {
  width: 470px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2C94C;
  margin-top: 70px; 
  border-radius: 10px;
  height: 50px;
}

.BookFinder {
	text-align: center;
	font-size: 30px;
	position: relative;
	top: 10px;
}
	

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid 
}

.row {
  margin-top: 30px;
  margin-right: 0;
  margin-left: 0;
}

p.title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;}

.table thead {
  text-align: center;
  background-color: #F2C94C;
}

.title, .author, .category {
  text-align: center;
}
