html {
  margin: 0;
  font-family: Georgia, 'Times New Roman';
  scroll-behavior: smooth;
}

body {
	background-color: #f8f8f8;
    margin: 0px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.card.mb-3 {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.col-md-8.about-me {
 background-color: #F2C94C;
}

.card-title {
  margin: 75px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color:#2F80ED;
}

.card-body.about-me {
  background-color: #F2C94C;
}

.card-text {
  font-size: 20px;
  text-align: center;
  margin: 40px;
}
.container {
  width: 470px;
  padding-bottom: 50px;
}

.edex {
  margin-bottom: 40px;
  margin-top: 40px;
}

.edex .accordion {
  position: relative;
  margin: 10px 20px;
  padding-left: 50px;
  padding-right: 25px;
}

.titles {
  padding-top: 9px;
  padding-left: 9px;
}
.edex .accordion .accor-title {
  border: 4px solid #F2C94C;
  border-radius: 12px;
  cursor: pointer;
  /*transition: 0.4s;*/
  max-width: 100%;
  margin-top: 20px;
}

.accor-title.row.active {
  border: 4px solid #2F80ED;
}

.edex .accordion.active .accor-title {
  border: 4px solid #2F80ED;
}

.buttons {
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 3px;
}

.edex .accordion .accor-title:hover {
  border: 4px solid #2F80ED;
}

.edex .accordion .isi {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  /*overflow-y: auto;*/
}

.edex .accordion.active .isi {
  height: 100px;
}

.isi li {
  padding-top: 10px;
}

.up img{
  max-width: 15px;
}

.down img{
  max-width: 15px;
}

.accorTitle h5{
  display: flex;
  padding-top: 9px;
}



ul {
  margin: 0;
}

ul.dashed {
  list-style-type: none;
}

li {
  text-align: center;
}

li.isi {
  margin-top: 20px;
  margin-bottom: 20px;
}

#int {
  text-align: center;
  font-size: 40px;
  color: #2F80ED;
  background: 10px #F2C94C;
  border-radius: 10px;
  
}


#int.abt {
  margin-top: 70px;
}


