html {
  margin: 0;
  font-family: Georgia, 'Times New Roman';
  scroll-behavior: smooth;
}

body {
	background-color: white;
    margin: 0px;
    padding-bottom: 20px;
}

.containerjudul {
	margin-left: auto;
	margin-right: auto;
	width:800px;
	background-color: #F2C94C;
	border-radius: 10px;
	height:50px;
	margin-top: 60px; 
}

#judul {
	margin-left: 280px;
	margin-right: auto;
	position: relative;
	top:10px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width:800px;
	background-color: #F2C94C;
	border-radius: 10px;
	height:220px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px; 
}

.form {
	margin-left: auto;
	margin-right: auto;
}