{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Sign up!</title>
</head>
<body style="padding-bottom: 50px;">
{% load static %}
{% load crispy_forms_tags %}
<center>
	<br>
	<br>
<h2 style="font-family: Georgia, 'Times New Roman';">Make an Account!</h2>
<br>
<br>
<div class="container" style="width:900px; height:550px; background-color: #2C2D2F; color: white; border-radius: 10px;">
  <form class="form-group" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Create</button>
    <p style="font-family: Georgia, 'Times New Roman';">Already have an account? Login <a href="{% url 'login' %}">Here</a></p>
    <p style="font-family: Georgia, 'Times New Roman';">{{ warn }}</p>
  </form>
</div>
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>