{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>About Me, Garry Hanuga</title>
</head>
<body>
{% load static %}

<div class="card mb-3">
  <div class="row no-gutters">

      <div class="col-md-8 about-me" id="about-me">
          <div class="card-body about-me">
              <h5 class="card-title">About Me</h5>
              <p class="card-text">Hi, Saya Garry Hanuga!
                Saya adalah anak pertama dari 4 bersaudara.
                Di Keluarga saya, saya adalah anak yang paling ceria.
                Meskipun demikian, saya tidak terlalu suka keramaian yang berlebihan.
                Selain hobi design web, saya juga hobi bermain alat musik.
                Saya dapat bermain gitar dan bass.
                Saya juga kadang suka menggambar tokoh-tokoh ternama.
                Bahkan, saya gemar menulis cerita pendek, entah fiksi atau berdasarkan kisah nyata.
                Cita-cita saya adalah menjadi manager atau CEO start-up di bidang IT.</p>
          </div>
      </div>

      <div class="col-md-4">
          <img id="garry" src="{% static 'img/gambarcontoh.jpg' %}" class="card-img" style="width: 390px;height: 397px;">
      </div>

  </div>
</div>

<div class="container">
  <h5 class="abt" id="int">More About Me</h5>
</div>

<div class="edex">
  
  <div class="accordion pendidikan">

    <div class="accor-title row">
      <h5 class="titles">Pendidikan</h5>
      <div class="buttons">
        <div class="up">
          <img src="{% static 'img/up.png' %}">
        </div>
        <div class="down">
          <img src="{% static 'img/down.png' %}">
        </div>
      </div>
    </div>

    <div class="isi">
      <ul class="dashed">
        <li>
          <p> SD  : PERMATA INDAH</p>
        </li>
         <li>
          <p> SMP : METHODIST JAKARTA</p>
        </li>
         <li>
          <p> SMA : METHODIST JAKARTA</p>
        </li>
        <li>
          <p> UNIV: Fakultas Ilmu Komputer Universitas Indonesia</p>
        </li>
      </ul>
    </div>

  </div>

    <div class="accordion pengalaman">

      <div class="accor-title row">
        <h5 class="titles">Pengalaman</h5>
        <div class="buttons">
          <div class="up">
            <img src="{% static 'img/up.png' %}">
         </div>
          <div class="down">
            <img src="{% static 'img/down.png' %}">
          </div>
        </div>
      </div>

      <div class="isi">
        <ul class="dashed">
          <li>
          <p> Wakil Ketua UKF ASCIIPELLA</p>
        </li>
         <li>
          <p> Panitia Sie Dekorasi Gen-Z Cup</p>
        </li>
         <li>
          <p> Pemusik Natal Fasilkom 2019</p>
        </li>
        <li>
          <p> Anggota OSIS SMP Sie Dekorasi</p>
        </li>
      </ul>
    </div>

  </div>

  <div class="accordion aktivitas">

    <div class="accor-title row">
      <h5 class="titles">Aktivitas Saat Ini</h5>
      <div class="buttons">
        <div class="up">
          <img src="{% static 'img/up.png' %}">
        </div>
        <div class="down">
          <img src="{% static 'img/down.png' %}">
        </div>
      </div>
    </div>

    <div class="isi">
      <ul class="dashed">
        <li>
          <p> Berusaha Mempertahankan IPK diatas 3.53</p>
        </li>
         <li>
          <p> Ganti-ganti hobi</p>
        </li>
         <li>
          <p> Berusaha Mendapatkan Beasiswa</p>
        </li>
      </ul>
    </div>

  </div>

  <div class="accordion prestasi">

    <div class="accor-title row">
      <h5 class="titles">Prestasi</h5>
      <div class="buttons">
        <div class="up">
          <img src="{% static 'img/up.png' %}">
        </div>
        <div class="down">
          <img src="{% static 'img/down.png' %}">
        </div>
      </div>
    </div>
    
    <div class="isi">
      <ul class="dashed">
        <li>
          <p> Juara Umum 2 IPA SMA selama 3 tahun</p>
        </li>
         <li>
          <p> Juara 5 OSK Kimia Jakarta Utara</p>
        </li>
         <li>
          <p> Juara 1 kelas I - VI SD</p>
        </li>
         <li>
          <p> Juara 2 lomba English Magazine Jakarta Utara tingkat SMP</p>
        </li>
      </ul>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'accordion.js' %}"></script>
</body>
</html>
